.tab-slider--nav {
  width: 100%;
  float: left;
}
.tab-slider--tabs {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  /* background: #fff; */
  background: #dbdbdb;
  height: 35px;
  user-select: none;
}
.tab-slider--tabs:after {
  content: "";
  width: 50%;
  /*  background: #345f90; */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 250ms ease-in-out;
  border-radius: 50px;
}
.tab-slider--tabs.slide:after {
  left: 50%;
}
.tab-slider--trigger {
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  color: black;
  background: #dbdbdb;
  /* text-transform: uppercase; */
  text-align: center;
  padding: 11px 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  transition: color 250ms ease-in-out;
  user-select: none;
}
.tab-slider--trigger.active {
  color: #fff;
  background: #f8991f;
  border-radius: 25px !important;
}
.MuiBox-root.css-19kzrtu {
  padding: 13.8px !important;
}

/* .css-1ukp35a-MuiButtonBase-root-MuiButton-root:hover {
  background-color: none !important;
} */
.MuiButtonBase-root.MuiButton-root:hover {
  background-color: #ff9800 !important;
}
